# Dependencies managed by Composer.
/recipes
/vendor

/web/sites/default
/web/sites/default/files

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

db.sql.gz
files.tar.gz

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
web/sites/default/files/
web/sites/default/files/
