# Dependencies managed by Composer.
/recipes
/vendor

/web/sites/default

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

db.sql.gz

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
