.view-id-backlog {
    .view-content {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        .views-row {
            flex: 0 1 calc(20% - 20px);

            @media (max-width: 900px) {
                flex: 0 1 calc(33% - 20px);
            }

            img {
                width: auto;
            }

            a {
                font-size: 18px;
                padding: 5px;
                padding-left: 0px;
            }
        }
    }
}

h1 {
    font-size: 50px;
}

label {
    color: white;
}

select {
    color: white;
    background-color: rgb(25, 2, 88);
    padding-right: 10px;
}

.views-exposed-form {
    padding-bottom: 15px;
    padding-top: 10px;
}

